{% extends 'base.html' %}

{% block script %} 
<style>
input[type=text] ,input[type=password],input[type=tel],input[type=email] {
  max-width: 350px;
  height: 50px;
  min-width: 300px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}


select {
  max-width: 300px;
  padding: 16px 20px;
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
}
</style>
<script>

function Register()
{
	document.getElementById("register").style.display ="block";
	document.getElementById("start").style.display ="none";
}

function Reset()
{
	document.getElementById("start").style.display ="block";
	document.getElementById("register").style.display ="none";
}

function Home()
{
    document.getElementById("home").className = "current";

}


var check = function() {
	if (document.getElementById('password').value ==
	  document.getElementById('confpassword').value) {
	  document.getElementById('message').style.color = 'green';
      document.getElementById('message').innerHTML = 'matching';
      registerbut.disabled = false;
	} else {
	  document.getElementById('message').style.color = 'red';
      document.getElementById('message').innerHTML = 'not matching';
      registerbut.disabled = true;
	}
  }

</script>

{% endblock %}

{% block nav %}
<ul class="menu">
<li id="home" class="current" ><a href="/" style="background-color:#56a5eb;" onclick="Home();" >Home</a></li>
</ul>
{% endblock %}

{% block body %}

    <div class="col_9">
    <center>
        <div id ="start" style="display:block">
            <h2><b>GRILL</b></h2><br>
            <p> <h5>Welcome To Spectra Technical Quiz </h5></p>
        
        <a class="btn" onclick = "Register();">SIGNUP</a>
        <P>You need to Signup for Participating</p>
        </div>
    </center>
        <div style="display:none" id ="register">
        <h3>Register For Quiz </h3>
            <br><br>
        <form id="regForm" method="POST" action="/register">
        <div>
            <div class="row">
            <label>Branch:</label> 
            <select name="branch" required>
                <option value="">--select--</option>
                <option value="CSE">CSE</option>
                <option value="EEE">EEE</option>
                <option value="ME">ME</option>
                <option value="IT">IT</option>
            </select>
        </div>
        <br />
        <div>
            <label>Semester:</label>
            <select name="semester" required>
                <option value="">--select--</option>
                <option value="s1">S1</option>
                <option value="s2">S2</option>
                <option value="s3">S3</option>
                <option value="s4">S4</option>
                <option value="s5">S5</option>
                <option value="s6">S6</option>
                <option value="s7">S7</option>
                <option value="s8">S8</option>
            </select>
        </div>
        </div>
        <br />
        <div>
            <label>Name: </label>
            <input type="text" name="name" placeholder="Enter Your Name" required>
        </div><br />
        <div>
            <label>Email Address: </label>
            <input type="email" name="email" placeholder="Enter Email Id" title="Valid email address" required>
        </div><br />
        <div>
            <label>Mobile : </label>
            <input type="tel" name="phone" maxlength="10" placeholder="Enter Mobile Number" pattern="[0-9]{10}" title="10 digit number" required>
        </div><br />
        <div>
            <label>Username: </label>
            <input type="text" name="username" minlength="5" placeholder="Enter Username" pattern="([0-9a-zA-Z]*)" title="It contain letters and numbers only" required>
        </div><br />
        <div>
            <label>Password: </label>
            <input type="password" name="password" id="password" placeholder="Enter Password" minlength="5" pattern="[0-9a-zA-Z].{5,}" title="It includes  numbers , uppercase,lowercase letter, and at least 5 or more characters required" onkeyup=" check();" required>
        </div><br />
        <div>
            <label>Password Confirm: </label>
            <input type="password" name="password2" id="confpassword" placeholder="Re-type Password" minlength="5" pattern="[0-9a-zA-Z].{5,}" title="It includes  numbers , uppercase,lowercase letter, and at least 5 or more characters required" onkeyup=" check();" required>
        </div><br><span id='message'></span>
        <br /><br>
        
        <div style="margin-left:19%;">
            
            <button class="btn" id="registerbut" type="submit">SIGNUP</button>
            <input style="background-color: red;" type="button"value="CANCEL" onclick="Reset();">
            
        </div>
    </form>
    
</div>

<br><br>
<hr style="height: 2px;color: black;background-color: black;">
<br><br>
</div>
        
        <div class="col_3">
            <center>
            <h4>Take<b> Quiz</b></h4><br>
        <form method="post" action="/user/login">
            
           <input type="text" name="username" minlength="5" placeholder="Enter Your Username" pattern="([0-9a-zA-Z]*)" title="It contain letters and numbers only" required>
            <br>
            <input type="password" name="password" minlength="5" placeholder="Enter Your Password" pattern="[0-9a-zA-Z].{5,}" title="It includes  numbers , uppercase,lowercase letter, and at least 5 or more characters required" required><br><br>
             <button class="btn" type="submit">LOGIN</button> 
        </form>
            </center>
        </div>
       
    

{% endblock %}
