{% extends 'base.html' %}

{% block script %}{% endblock %}

{% block nav %}
<ul class="menu">
    <li style="float: right;">Hi {{User}}<a href="/users/logout">Logout</a></li>
    </ul>
{% endblock %}


{% block body %}
<br><br><br>
<div class="col_9">
    <div id ="start" style="display:block">
        <h3>GUIDELINES</h3><br><br><br>
        <label><b style="color: red;">*</b>&nbsp;<b>Read the Guidelines Carefully</b></label>
        <br><br>
        <div>
            <ul>
                <li>Quiz  consist of 15 questions.</li>
                <li>Each Question carries one mark and alotted 45 seconds for answering</li>
                <li>After submitting an option you can't change</li>
                <li>Please don't refresh your page or click back button,you'll be logged out and you can't attend the quiz anymore</li>
                <li>You can attempt your quiz only once</li>
                <br><br>
                <h6><b>Best of luck</b></h6>
            </ul>
            <br><br>
            <center><a href="/Accept" class="btn" type="button" >Agree</a></center><br><br>
        </div>
    </div>
</div>



{% endblock %}